.header {
  overflow-wrap: break-word;
}

/* campaigns/:address/requests/new */
/* red color  #9f3a38 */
/* light pink #e0b4b4 */
.ui.error.input input[type="text"],
.ui.error.input input[type="number"] {
  background: #e0b4b430;
  border-color: #9f3a3866;
}

.required-error {
  font-family: sans-serif;
  font-weight: lighter;
  /* color: #b70400; */
  color: #9f3a38;
  font-size: 0.85rem;
}

.hidden {
  display: none;
}
